<div class="d-flex justify-content-between">
  <div class="d-flex justify-content-around">
    <div class="p-2">
      <button class="btn btn-md traBtn">
        <a
          href="https://www.tra.go.ke/"
          target="_blank"
          class="transition text-light"
        >
          VISIT:WWW.TRA.GO.KE
        </a>
      </button>
    </div>
    <div class="mt-2">
      <a routerLink="standards/landing">
        <img
          class="img-fluid"
          src="assets/images/TRA_Logo.png"
          width="110"
          height="50"
          alt=""
        />
      </a>
    </div>
  </div>

  <div>
    <div
      class="btnCont d-flex p-2 justify-content-between"
    >
      <button class="btn btn-md btn-light transition" type="submit">
        <a href="auth/activate" class="transition m-1">Sign Up</a>
      </button>
      <button class="btn btn-md btn-light transition" type="submit">
        <a href="auth/login" class="transition"> Sign In</a>
      </button>
    </div>
  </div>
</div>
