.btnCont {
  a {
    text-decoration: none;
    color: #1e0f2e;
    font-family: "Muli";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.08em;
    border-radius: 8px;
    text-transform: uppercase;
  }
}


.traBtn{
  background-color: #6d36a8; color: #f8f8f8; border-radius: 4px
}