<div class="d-flex justify-content-between align-items-center flex-wrap p-2">
  <div>
    <h4 class="mb-3 mb-md-0 mainTitle">
      My Request | New Pre- Qualification Assessment Checklist
    </h4>
  </div>
</div>
<div class="card mainCont">
  <div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
      <div class="box-shadow">
        <img class="card-img-top img-fluid" src="assets/images/requests.png" />
      </div>
    </div>
  </div>

  <div style="margin-top: -6%">
    <div class="mainFormCont">
      <div>
        <h1 class="mt-1">New Pre- Qualification Assessment Checklist</h1>
        <div *ngIf="!isFirstFormSubmitted">
          <form [formGroup]="form">
            <div class="mt-5">
              <h3 class="form-label quiz">Class Enterprise</h3>
              <select
                class="form-select"
                id="class_name"
                (change)="onClassChange($event)"
                name="class_name"
                formControlName="class_name"
              >
                <option
                  *ngFor="let classItem of ClassData"
                  [value]="classItem.id"
                >
                  {{ classItem.enterpriseName }}
                </option>
              </select>
            </div>
            <div class="mt-5">
              <h3 class="form-label quiz">Enterprise Category</h3>
              <select
                class="form-select"
                id="subClass"
                name="subClass"
                formControlName="subClassName"
              >
                <option>Select one</option>
                <option
                  *ngFor="let data of SubClassData"
                  [value]="data.subClassName"
                >
                  {{ data.subClassName }}
                </option>
              </select>
              <small
                class="text-danger"
                *ngIf="
                  form.get('subClassName')?.touched &&
                  form.get('subClassName')?.hasError('required')
                "
                >Enterprise Category is required</small
              >
            </div>
            <div class="mt-5">
              <h3 class="form-label quiz">Type of Request</h3>
              <select
                class="form-select"
                id="requestType"
                name="requestType"
                formControlName="requestType"
                (change)="toggleReqType()"
              >
                <option value="ACCREDITATION">ACCREDITATION</option>
                <option value="CLASSIFICATION">CLASSIFICATION</option>
              </select>
              <small
                class="text-danger"
                *ngIf="
                  form.get('requestType')?.touched &&
                  form.get('requestType')?.hasError('required')
                "
                >Request Type is required</small
              >
            </div>
            <div class="mt-5">
              <h3 class="form-label quiz">Supporting Docs</h3>
              <input
                class="form-control"
                formControlName="otherDocs"
                type="file"
                accept="*/*"
                (change)="onDocsChange($event)"
                multiple
              />
              <small
                class="text-danger"
                *ngIf="
                  form.get('otherDocs')?.touched &&
                  form.get('otherDocs')?.hasError('required')
                "
                >Supporting Docs is required</small
              >
            </div>
            <div class="d-flex justify-content-end mt-3">
              <button
                class="btn btn-md login-btn transition mt-1"
                (click)="submitData()"
                type="submit"
                [disabled]="form.invalid"
              >
                <a style="text-decoration: none" class="transition">
                  <span>SUBMIT</span></a
                >
              </button>
            </div>

            <p *ngIf="isLoading" class="my-2">
              <ngb-progressbar
                type="primary"
                [value]="95"
                [striped]="true"
                [animated]="true"
              ></ngb-progressbar>
            </p>
          </form>
        </div>

        <div *ngIf="isFirstFormSubmitted">
          <form [formGroup]="formRequest">
            <div
              *ngFor="
                let question of getQuestionsForCurrentPage();
                let i = index
              "
              class="mt-4"
            >
              <h3 class="quiz">
                {{
                  (currentPage - 1) * questionsPerPage +
                    i +
                    1 +
                    ": " +
                    question.question
                }}
              </h3>
              <ng-container
                *ngFor="let option of question.options; let j = index"
              >
                <div class="d-flex justify-content-between">
                  <p class="sub-quiz">{{ option.optionText }}</p>
                  <div class="d-flex justify-content-between">
                    <div
                      class="form-group custom-control"
                      style="margin-right: 18px"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input quiz-check"
                        [id]="'q' + i + 's' + j + 'Yes'"
                        [name]="'q' + i + 's' + j"
                        [checked]="option.selected === 'Yes'"
                        (change)="toggleCheckbox(i, j, 'Yes')"
                        [value]="option.selected"
                        required
                      />
                      <label
                        [for]="'q' + i + 's' + j + 'Yes'"
                        class="custom-control-label quiz-check"
                        >Yes</label
                      >
                    </div>
                    <div class="form-group custom-control">
                      <input
                        type="checkbox"
                        class="custom-control-input quiz-check"
                        [id]="'q' + i + 's' + j + 'No'"
                        [name]="'q' + i + 's' + j"
                        [checked]="option.selected === 'No'"
                        (change)="toggleCheckbox(i, j, 'No')"
                        [value]="option.selected"
                        required
                      />
                      <label
                        [for]="'q' + i + 's' + j + 'No'"
                        class="custom-control-label quiz-check"
                        >No</label
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="
                      formRequest.get('q' + i + 's' + j)?.invalid &&
                      (formRequest.get('q' + i + 's' + j)?.dirty ||
                        formRequest.get('q' + i + 's' + j)?.touched)
                    "
                    class="text-danger"
                  >
                    Please select an option.
                  </div>
                </div>
              </ng-container>
              <div class="form-group mt-2">
                <textarea
                  [id]="'comment' + i"
                  [formControlName]="question.comment"
                  cols="13"
                  rows=""
                  class="form-control validation-field text"
                ></textarea>
                <div
                  *ngIf="
                    formRequest.get(question.comment)?.invalid &&
                    (formRequest.get(question.comment)?.dirty ||
                      formRequest.get(question.comment)?.touched)
                  "
                  class="text-danger"
                >
                  Comment is required.
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end mt-3">
              <button
                class="btn btn-md login-btn transition mt-1"
                [disabled]="!formRequest.valid"
                (click)="submitDataForm()"
                type="submit"
              >
                <a style="text-decoration: none" class="transition">
                  <span>SUBMIT</span></a
                >
              </button>
            </div>
            <p *ngIf="isLoading" class="my-2">
              <ngb-progressbar
                type="primary"
                [value]="95"
                [striped]="true"
                [animated]="true"
              ></ngb-progressbar>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
